body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.top_header {
  padding: 10px 15px;
}
.top_header .head {
  text-align: end;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.top_header .head a .text {
  color: black;
  font-family: emoji;
}
.top_header .head a .text:hover {
  text-decoration: underline;
}
.top_header .head .dari {
  padding: 0 5px;
}

header.headers {
  width: 100%;
  background-color: transparent;
  color: #fbfaf9;
  position: relative;
  background:url(../img/a4b23aab-0f31-46a8-9aac-b833ab94c5b5.jpeg);
  background-size: cover;
}
header.headers .D_hovers:hover {
  background: #fbfaf9;
  transition: background 0.5s;
}
header.headers .navbar {
  max-width: 1280px;
  height: 50px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
}
header.headers .navbar .logos {
  width: 100px;
}
header.headers .navbar a {
  padding: 0 5px;
}
.navbar .logos a img {
  width: 100%;
}
.navbar .navs .nav_tag {
  color: #fbfaf9;
}
.navbar .navs .nav_tag:hover {
  text-decoration: underline;
}
header.headers .D_hovers:hover .navbar .navs .nav_tag {
  color: rgb(40, 35, 35);
  transition: color 0.5s;
}
header.headers .all_icon {
  width: 35rem;
  text-align: end;
}
header.headers .all_icon a.icon {
  color: #fbfaf9;
  margin: 0 10px;
  padding: 0;
}
header.headers .D_hovers:hover .all_icon a.icon {
  color: rgb(40, 35, 35);
  transition: color 0.5s;
}
header.headers .all_icon a.icon i {
  font-size: 15px;
}
.heads_d {
  width: 100%;
  height: 15rem;
}
.heads_d .h_text {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3.5rem 0;
}
.heads_d .h_text a {
  font-size: 32px;
}
.heads_d .h_text .h_btn {
  background: no-repeat;
  border: 1px solid #fbfaf9;
  border-radius: 5px;
  margin: 0 15px;
  color: #fbfaf9;
  padding: 7px;
}

.bodytDiv1 .body_style {
  width: 100%;
  height: 500px;
  background-color: #191919;
}
.bodytDiv1 .style {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}
.bodytDiv1 .style .left {
  width: 50%;
  z-index: 1;
}
.bodytDiv1 .style .left .banner_text {
  width: 70%;
  padding: 0 2rem;
}
.bodytDiv1 .style .left .tptext h1 {
  font-size: 30px;
  color: #fbfaf9;
}
.bodytDiv1 .style .left .tptext p {
  color: #fbfaf9;
}
.bodytDiv1 .left .banner_text .text_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bodytDiv1 .left .banner_text .text_btn a {
  border: 1px solid #fbfaf9;
  margin: 20px 10px !important;
  padding: 8px 20px;
  border-radius: 5px;
  color: #fbfaf9;
  width: 80px;
  text-align: center;
}
.bodytDiv1 .left .banner_text .text_btn a:hover {
  background: #fbfaf9;
  color: black;
}
.bodytDiv1 .imss .banner_img img {
  width: 105%;
}
.bodytDiv1 .style .right {
  width: 50%;
  position: relative;
}
.banner_video {
  position: absolute;
  top: 0;
  background: #000;
}
.banner_video .video_background {
  width: 80%;
  height: 37rem;
  margin: 0 auto;
}
.banner_video .video_background video {
  width: 100%;
  height: 85%;
  margin-top: 4rem;
}


.saide_section {
  max-width: 100%;
}
.saide_section .said {
  max-width: 1280px;
  margin: 50px auto;
  margin-top: 90px;
  margin-bottom: 0;
  padding: 2rem 0;
}
.saide_section .said .main_slaid {
  display: flex;
}
.saide_section .div_style {
  width: 24%;
}
.texs {
  padding: 0 1.5rem;
}
.saide_section .div_style .imgs {
  padding: 10px;
}
.saide_section .div_style .head {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: sans-serif;
}
p.para {
  margin: 0;
}
.saide_section .div_style .btn ul {
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
}
.saide_section .div_style .btn ul:hover {
  opacity: 0.5;
}

.slaid_full_img {
  width: 100%;
}
.slaid_full_img .imgss {
  width: 100%;
}
.slaid_full_img .imgss img {
  width: 100%;
  height: 100vh;
}
.slaid_full_img .full_imgs {
  position: relative;
} 
.slaid_full_img .text_right {
  max-width: 1280px;
}
.text_right .texss {
  position: absolute;
  bottom: 30%;
  right: 10%;
  color: aliceblue;
}

.manDiv {
  width: 100%;
  height: 500px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.basic {
  max-width: 1280px;
  margin: 0 auto;
}
.img_sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
span.af_bf {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px 0;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.af_bf:after {
  content: "";
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 5px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  width: 35%;
}
.af_bf:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 5px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 35%;
}
.img {
  width: 200px;
  height: 200px;
  margin: 0 1rem;
  border: 3px solid #656d89;
}
.img img {
  width: 100%;
  height: 100%;
}
