body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  float: left;
  font-size: 1.5em;
  margin-right: 20px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}
nav li span.icon {
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .navbar a, .logo {
    float: none;
    display: block;
    text-align: left;
  }
  
  nav {
    float: none;
  }
}



.MyAddress {
  background-color: red;
  background-image: linear-gradient(to right, rgb(192, 162, 98) , rgb(98, 0, 255));
  border: 10px solid;
  border-color: rgb(3, 17, 138) rgb(33, 209, 80) rgb(199, 10, 216) rgb(255, 0, 0);
}
table {
  width: 100%;
  position: relative;
}
table .hImg {
  position: absolute;
  width: 30%;
  bottom: 0;
  right: 10px;
}

table .hImg img {
  width: 100%;
}
table thead tr {
  text-align: center;
  font-size: 2.5rem;
  font-family: cursive;
  font-weight: 600;
  color: aliceblue;
}
table tbody tr th {
  font-size: 30px;
  color: greenyellow;
  font-weight: 600;
}
table tbody tr td {
  font-size: 25px;
  color: yellow;
}

table tbody tr td img {
  width: 100%;
}
.para {
  margin-top: 10px;
  border: 10px solid transparent;
  border-image: url(../images/img.webp) 90 round;
}


.Ims {
  position: relative;
  display: flex;
  padding: 10px;
}
.Ims .left {
  width: 50%;
}
.Ims .left img {
  width: 90%;
  height: 300px;
  padding: 0px;
  margin: 10px;
  border-radius: 2rem;
}
.Ims .right {
  width: 50%;
}
.Ims .right img {
  width: 90%;
  height: 300px;
  padding: 0px;
  margin: 10px;
  border-radius: 2rem;
}
.Ims .images {
  position: relative;
}
.Ims .images:hover img {
  width: 90%;
  height: 300px;
  padding: 0px;
  margin: 10px;
  opacity: 1;
  transition: box-shadow 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.Ims .images img {
  opacity: 0.5;
}
.Ims .images .Text {
  position: absolute;
  width: 85%;
  top: 10px;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Ims .images .Text h1 {
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  opacity: 0;
}
.Ims .images:hover .Text h1 {
  opacity: 1;
  transition: opacity 0.5s;
}
.Ims .images:hover .Text {
  opacity: 1;
}

.articel {
padding: 5px;
position: relative;
}
.articel .work {
width: 100%;
}
.articel .work img.left {
float: right;
width:300px;
height:300px;
margin-left:15px;
}

.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}
.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  animation: tot_rotate 4s linear infinite;
}
.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

@keyframes tot_rotate {
  100% {
    transform: rotate(1turn);
  }
}